<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Blog Post</title>
  </head>
  <body>
    <nav class="nav-wrapper">
      <div class="text-logo"><a href="/">Blog M.</a></div>
      <ul class="nav-items">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/guides">Guides</a>
        </li>
        <li>
          <a href="/blogs">Blog</a>
        </li>
        <li>
          <a href="/support">Support</a>
        </li>
        <li>
          <a href="/cBlog">Create Blog</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
