<%- include("partials/headers.ejs") %>

<div class="profile">
  <img src="img/me.jpg" alt="Profile Photo" />
  <div class="description">
    <h1>Marco Adote Melgar</h1>
    <p>
      My diverse interests and talents converge around programming, music, and
      social advocacy, each playing a significant role in shaping my
      professional and personal journey. As a programmer, I excel in creating
      innovative software solutions that streamline processes and enhance user
      experiences. I am deeply passionate about leveraging technology to solve
      complex problems and improve efficiency in various domains. In parallel,
      music, particularly my skill as a pianist, serves as both a creative
      outlet and a powerful means of expression, allowing me to connect with
      others on a profound emotional level. Beyond my technical and artistic
      pursuits, my advocacy work for migrant workers stands as a cornerstone of
      my dedication to social justice. I am committed to raising awareness,
      advocating for policy change, and empowering migrant communities to access
      their rights and opportunities. Through these endeavors, I strive to
      contribute positively to society, bridging my interests and talents to
      create meaningful impact and drive positive change in the world.
    </p>
    <p>
      I am deeply passionate about multiple disciplines: as a programmer,
      pianist, social worker, and advocate for migrant workers' rights. In the
      realm of programming, I thrive on crafting efficient and user-centric
      software solutions that tackle real-world challenges. Beyond coding,
      music—particularly playing the piano—holds a special place in my heart,
      allowing me to connect emotionally and culturally through its universal
      language. My dedication extends further into social work, where I actively
      support and empower migrant workers, striving for fair treatment and equal
      opportunities. Through these roles, I aim to contribute positively to
      society, leveraging technology, music, and advocacy to make a meaningful
      impact.
    </p>
  </div>
</div>

<%- include("partials/footers.ejs") %>
