<%- include("partials/headers.ejs") %>

<div class="guides-wrapper">
  <h1>Comprehensive Guide for Safe Migration for Filipino OFWs</h1>
  <section class="s1">
    <h2>Pre-Departure Preparation</h2>
    <p>Ensure you are well-prepared before your departure:</p>
    <ul>
      <li>Research your destination country and its culture.</li>
      <li>Check and prepare all necessary travel documents.</li>
      <li>Verify employment contracts and understand your rights.</li>
    </ul>
  </section>

  <section class="s1">
    <h2>Legal and Financial Preparation:</h2>
    <ul>
      <li>
        Consult with reputable recruitment agencies registered with the
        Philippine Overseas Employment Administration (POEA).
      </li>
      <li>
        Verify employment contracts, ensuring clarity on job terms, salary,
        benefits, and deductions.
      </li>
      <li>
        Understand your rights and obligations as an OFW, including legal
        protections and avenues for redress in case of disputes.
      </li>
    </ul>
  </section>

  <section class="s1">
    <h2>Health and Safety Measures</h2>
    <h3>Health Check-ups and Vaccinations:</h3>
    <ul>
      <li>
        Undergo comprehensive medical check-ups, including vaccinations required
        by your destination country.
      </li>
      <li>
        Carry essential medications and prescriptions for any pre-existing
        conditions.
      </li>
    </ul>
    <h3>Safety Briefings:</h3>
    <ul>
      <li>
        Attend pre-departure orientations provided by the POEA or recruitment
        agency regarding safety protocols, emergency contacts, and local laws.
      </li>
    </ul>
  </section>

  <section class="s1">
    <h2>Financial Management</h2>
    <h3>Budgeting:</h3>
    <ul>
      <li>
        Develop a detailed budget for living expenses, remittances, and savings.
      </li>
      <li>
        Familiarize yourself with local currency exchange rates and banking
        facilities available abroad.
      </li>
    </ul>
    <h3>Remittance Services:</h3>
    <ul>
      <li>
        Choose secure and reputable remittance services to send money back home.
      </li>
      <li>
        Understand fees, exchange rates, and transfer times associated with
        different remittance methods.
      </li>
    </ul>
  </section>
</div>

<%- include("partials/footers.ejs") %>
