<%- include("partials/headers.ejs") %>

<div class="home-wrapper">
  <div class="head-title-img">
    <div class="head-text">
      <h1>
        "Safe Passage: Navigating Migration with Confidence" offers essential
        tips for a secure journey—from planning and documentation to border
        navigation and cultural awareness."
      </h1>
    </div>
    <div class="photo-credits">
      <img src="img/photo.jpg" alt="head-img" />
      <small>Special credits to: Photographer</small>
    </div>
  </div>
  <div class="content">
    <div class="table-of-contents">
      <h2>Table of Contents</h2>
      <ul>
        <li><a href="#">Introduction</a></li>
        <li><a href="#">What is migration?</a></li>
        <li><a href="#">What is safe migration?</a></li>
        <li><a href="#">what is my organization?</a></li>
      </ul>
    </div>
    <div class="organization-desc">
      <h2>The problem</h2>
      <p>
        Migrant workers across Asia face myriad challenges, starting with the
        recruitment process. The vast majority are recruited via a
        non-transparent regime of employment agencies, resulting in the
        exploitation of tens of thousands of workers every year. Fragmented
        recruitment schemes often lead to excessive fees, working conditions
        akin to forced labour, ineffective complaint and grievance procedures,
        restrictions on freedom of movement, isolation and limited access to
        justice.
      </p>
    </div>
  </div>
</div>

<%- include("partials/footers.ejs") %>
